{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ titre }}</h1>
    <nav>
        <a href="{{ path('home') }}">Accueil</a>
        <a href="{{ path('apropos') }}">A Propos</a>
        <a href="{{ path('nombre', {id:1}) }}">Nombre 1</a>
        <a href="{{ path('nombre', {id:2}) }}">Nombre 2</a>
    </nav>
{% endblock %}